[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hy = "*"
progress = "*"
click = "*"
trio = "*"
asks = "*"

[dev-packages]
hy = "*"

[requires]
python_version = "3.7"
